/* *{
    box-sizing: border-box;
}

.container{
    max-width: 80vw;
    margin: 0 auto;
    text-align: center;
}

.container svg{
    margin: 0 auto;
    color: red;
    width: 300px;
    height: 300px;
} */

.line{
    border: solid 1px red;
}

#svg_field path.fill {
	fill: #3ff;
}