*{
    box-sizing: border-box;
}

.container{
    max-width: 80vw;
    margin: 0 auto;
    text-align: center;
}

.svg_field{
    margin: 0 auto;
    border: red 1px solid;
    width: 300px;
    height: 300px;
}